{% extends 'student/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="row pt-3">
            <div class="col-lg-8">
                <h2>Available</h2>
                {% if available_friends %}
                    <table>
                        {% for friend in available_friends %}
                            <tr>
                                <td>{{ friend.first_name }} {{ friend.last_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p class="alert alert-secondary">No Available Friends</p>
                {% endif %}
                <h2 class="pt-3">Busy</h2>
                {% if busy_friends %}
                    <table>
                        {% for friend in busy_friends %}
                            <tr>
                                <td>{{ friend.first_name }} {{ friend.last_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p class="alert alert-secondary">No Busy Friends</p>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <h2>Send Request</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <form method="POST">
                                <label class="" for="username">Username: </label>
                                {{ friend_request_form.friend_username }}
                                <button type="submit" class="btn btn-primary">+</button>
                            </form>
                        </div>
                    </div>
                </div>
                <h2 class="pt-3">Friend Requests</h2>
                {% if unkown_friend_requests %}
                    <table class="table">
                        {% for request in unkown_friend_requests %}
                            <td>
                                <tr>request.username</tr>
                            </td>
                        {% endfor %}
                    </table>
                {% else %}
                    <p class="alert alert-secondary">No Friend Requests</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}