{% extends 'student/base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row pt-5">
            {% for course in courses %}
                <div class="col-lg-3">
                    <div class="card">
                        <h3 class="card-header">{{ course.course_name }}</h3>
                        <div class="card-body">
                            <button class="btn btn-dark" onclick="location.href='{% url 'home' %}'">Create Study Group</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for chat in chats %}
                <div class="card">
                    <p>{{ chat }}</p>
                    <button class="btn btn-light" onclick="location.href='{% url 'home' %}'">Open Chat</button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}